#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp A    &kp Q    &kp U    &kp Y    &kp Q 
                &kp H    &kp N    &kp E    &kp I    &kp O
                &kp K    &kp M    &kp S    &kp S    &kp Z
                &kp H    &kp N    &kp E    &kp I    &kp O
                &kp K    &kp M    &kp S 
            >;
        };
    };
 };
